* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #05292e;
}


.header_container {
    width: 100%;
    height: 20rem;
}



.header_log {
    background-image: url(https://images6.alphacoders.com/909/thumb-1920-909641.png);
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0% 40%;
    position: relative;

}


.div_log {
    width: 45%;
    height: 60%;
    position: absolute;
    top: 25%;
    left: 29%;
}

.log_img {
    width: 100%;
    height: 100%;
}

.header_input {
    position: absolute;
    top: 80%;
    left: 39%;
    width: 25%;
    height: 15%;
}

.header_input input {
    width: 100%;
    height: 100%;
    text-align: center;

}

.header_button {
    width: 5%;
    height: 10%;
    position: absolute;
    top: 82%;
    left: 65%;
}

.header_button button {
    width: 100%;
    height: 100%;
}



/* ----------------------------------------------------------------------------------------------------------------------------------- */

.info_container {
    width: 100%;
    height: 10rem;
    position: relative;

}

.info {
    width: 65%;
    height: 50%;
    margin: 3% auto;
    display: flex;
    padding: 1%;
    background-color: #062226;
    justify-content: space-around;
    color: #fff;
    border-radius: 5%;
}


.card_container {
    width: 100%;
    height: 100%;
    position: absolute;
}

.cards_section {
    width: 60%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem 0;
}

.card {
    width: 45%;
    height: 12rem;
    display: flex;
    color: #fff;
    background-color: #062226;
    margin: 0 1rem;
    border-radius: 10%;
}

.card_div_img {
    width: 50%;
    height: 100%;
    padding: 1rem;
}

.card_img {
    width: 100%;
    height: 100%;
    border-radius: 10%;
}


.card_info {
    padding: 2rem 0;
}

.card_info p {
    color: gray;
}



.circle_status {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    display: inline-block;
    margin-right: 5px;
}


.noResidents {
    color: #fff;
    margin: auto;
    font-size: 2rem;
}

.div_nextWorld button {
    border-radius: 30%;
    background: aquamarine;
    width: 100%;
    height: 100%;
}

.div_nextWorld {
    position: fixed;
    left: 90%;
    top: 90%;
    height: 9%;
    width: 7%;

}

.div_nextWorld button:hover{
    background-color: rgb(88, 168, 141);
    cursor: pointer;
}
.header_button button:hover{
    background-color: rgb(88, 168, 141);
    cursor: pointer;
}



/* ----------------------------------------------------------------------------------------------------------------------------------- */



@media (max-width: 800px) {

    * {
        font-size: 1rem;
    }

    .div_log {
        width: 50%;
        height: 60%;
        position: absolute;
        top: 25%;
        left: 26%;
    }

    .header_container {
        width: 100%;
        height: 14rem;
    }

    .header_log {
        height: 100%;
    }

    .header_input {
        position: absolute;
        top: 80%;
        left: 19%;
        width: 62%;
        height: 12%;
    }


    .header_button {
        width: 13%;
        height: 11%;
        position: absolute;
        top: 81%;
        left: 84%;

    }

    .info_container {
        width: 100%;
        height: 12rem;
        margin-bottom: 10%;
    }

    .info {
        display: table;
        text-align: center;
        width: 70%;
    }


    .cards_section {
        width: 100%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem 0;
    }

    .card {
        width: 100%;
        height: 12rem;
        display: flex;
        color: #fff;
        background-color: #062226;
        margin: 0 1rem;
        border-radius: 10%;
    }

    .div_nextWorld {
        position: fixed;
        left: 71%;
        top: 0%;
        height: 4%;
        width: 29%;
        z-index: 999;
        bottom: 0%;
    }

    .div_nextWorld button {
        border-radius: 0%;
        background: aquamarine;
        width: 100%;
        height: 100%;
    }

    .card_container {
        width: 100%;
        height: 100%;
        position: relative;
    }



}